.image{
	width: 100%;
	padding: 2rem;
	/* background-color: #e5e5e5; */
	border-radius: 15px;
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
	text-align: justify;
	text-justify: inter-word;
	transition: 0.3s;
}